{% extends 'base.html.twig' %}

{% block title 'Changement du mot de passe' %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
<div class="row">
    <div class="col-md-6 m-auto text-center m-5">
        <div class="p-5">
        <h1>Modifier votre mot de passe</h1>
        {{ form_start(form) }}
            {{form_row(form.plainPassword, {
                'attr' : {'label' : 'Votre mot de passe actuel'}
            }) }}
            {{form_rest(form) }}
            <button type="submit" class="btn btn-info col-12">Valider les modifications :</button>
        {{ form_end(form) }}
        </div>
    </div>
</div>
   

{% endblock %}