{% extends 'base.html.twig' %}

{% block title %}Edit my account{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="text-center my-5">
                <h1 class="h3 mb-3 font-weight-normal text-center m-5">Edit your account</h1>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-12 mb-2">
                        {{ form_widget(form.name, {
                            'attr' : {'placeholder': 'Your firstname'}
                        }) }}
                    </div>
        
                    <div class="col-md-12 mb-2">
                        {{ form_widget(form.description, {
                            'attr' : {'placeholder': 'Your description'}
                        }) }}
                    </div>

                    <div class="col-md-12 mb-2">
                        {{ form_widget(form.imageFile, {
                            'attr' : {'placeholder': 'Your profile picture'}
                        }) }}
                    </div>
                </div>

                        {{form_rest(form)}}

                        <button type="submit" class="col-12 btn btn-info" > Apply Changes</button>
                    {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
