{% extends 'base.html.twig' %}

{% block title %}{{user.name}}{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
<div class="col-md-6 mx-auto text-center mt-5">
<img src="{{ uploaded_asset(user.image) }}" class=" border border-dark rounded-circle" width ="80px">
   <h2 class="mt-4">{{user.name}} </h2>
   
   <p class="mt-2 text-muted">{{user.email}}</p>
   {% if user == app.user%}
   <p>
        <a href="{{ path('app_account_edit', {name: user.name}) }}">Editer mon profil</a> |
        <a href="{{ path('app_account_change_password',{name: user.name} ) }}">Modifier mon mot de passe</a>
   </p>
   <h2>My Boards</h2>
   {% else %}
   <h2> {{user.name}}'s boards</h2>
{% endif %}

   
   <div class="container-fluid">
      <div class="row">
          <div class="card-columns">
   {% for board in boards%}
   <div class="card">
         <a href="{{ path('app_boards_show',{id: board.id} ) }}">
         <img src="{{ uploaded_asset(board.image) }}" alt="{{ board.title }}">
      </a>
   </div>

   {% endfor %}
</div>
</div>
</div>

</div>
{% endblock %}
