{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<div class="wrapper bg-white">
    <div class="h2-artwoke text-center">ArtWoke</div>
    <div class="h4 text-muted text-center pt-2">Please Sign in</div>
    <form class="pt-3" method="post">
        {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
        <div class="form-group py-2">
            <input placeholder="email" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                </div>

        <div class="form-group py-1 pb-2">
            <input placeholder="password" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        </div>

       <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
       
        <div class="d-flex justify-content-between">
            <div class="remember"> <label class="option text-muted"> Remember me <input type="checkbox" name="_remember_me"> <span class="checkmark"></span> </label> </div>
            <div class="ml-auto"> <a href="{{ path('app_forgot_password_request') }}" id="forgot">Forgot Password?</a> </div>
        </div> <button type="submit" class="btn btn-block text-center my-3">Log in</button>
        <div class="text-center pt-3 text-muted">Not a member? <a href="{{ path('app_register')}}">Register</a></div>
    </form>
</div>

{% endblock %}
