{% extends 'base.html.twig' %}

{% block title %}Welcome | Artwoke{% endblock %}

{% block body %}

<div class="wrapper bg-white">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <div class="h2-artwoke text-center">ArtWoke</div>
    <div class="h4 text-muted text-center pt-2">Please Sign Up</div>
{{ form_start(registrationForm, {
    'attr' : 
    {
        'class' : 'form-group'
    }
}) }}
        {{ form_row(registrationForm.name, {
            'attr' : 
            {
                'class' : 'mt-2'
            }
        }) }}
        {{ form_row(registrationForm.email, {
            'attr' : 
            {
                'class' : 'mt-2'
            }
        }) }}
        {{ form_row(registrationForm.plainPassword, {
            'attr' : 
            {
                'class' : 'mt-2'
            }
        }) }}
       
        <button type="submit" class="btn btn-block text-center my-3">Register</button>
    {{ form_end(registrationForm) }}

</div>


    
{% endblock %}
