
        {{ form_start(form) }}
        {% if val is defined and val == 'create' %} 
            {{ form_row(form.imageFile) }}
        {% else %}
             {{ form_row(form.imageFile, { 'attr': {'hidden': true} }) }}
        {% endif %}
     {{ form_row(form.title,{'attr':{'placeholder': 'Your title'}}) }}
     {{ form_row(form.description,{'attr':{'placeholder': 'Your description'}}) }}
     
    <button class="btn btn-outline-success">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
    </div>
</div>
