
<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand h2-artwoke" href="{{path("app_boards")}}">Artwoke</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        {% if app.user %}
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto align-items-center">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    {{app.user.name}}
                </a>
                <ul class="dropdown-menu ml-auto" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="{{ path('app_account_edit', {name: app.user.name}) }}">Edit my account</a></li>
                    <li><a class="dropdown-item" href="{{path('app_boards_new')}}">New Board</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="col-12 btn btn-primary" href="{{path('app_logout')}}" onclick="event.preventDefault(); document.getElementById('js-logout-form').submit()">Logout</a></li>
                </ul>
            </li>
            <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token('logout') }}">
            </form>
            </ul>
            </div>
            {% else %}
            <p class="m-2">
                <a class="btn btn-outline-success" href="{{path('app_register')}}"> Register</a>
                <a class="btn btn-outline-success" href="{{path('app_login')}}"> Log in</a>
            </p>
            {% endif %}
        </div>
        </nav>
   

        
</header>