<form method="post" action="{{ path('app_boards_delete', {'id': board.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id) }}">
    <button class="btn">Delete</button>
</form>
