{% extends 'base.html.twig' %}

{% block title %}Edit {{board.title}}{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
<div class="container mt-4">
    <div class="wrapper bg-white">
    <div class="col-md-12">
    <h1>Edit {{board.title}}</h1>
    <div class="mb-4">
        <img src="{{ uploaded_asset(board.image)  }}" alt="" width="100px">
    </div>
    {{ include('partials/_form.html.twig', {'button_label': 'Update'}) }}
</div>
</div>

</div>
{{ include('partials/_footer.html.twig') }}
{% endblock %}
