{% extends 'base.html.twig' %}

{% block title %}Accueil - Artwoke{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
<div class="container-fluid">

    <div class="row">
        <div class="card-columns">
            {% if boards %}
            {% for board in boards %}
            <div class="card card-pin rounded">
                <img src="{{ uploaded_asset(board.image) }}" alt="{{ board.title }}" class="rounded-pin">
                <div class="overlay">
                    <H2 class="card-title title"> {{ board.title }} </h2>
                    <p class="card-title title"> by {{ board.user.name}} </p>
                        <div class="more">
                            <a href="{{ path('app_boards_show',{id: board.id} ) }}">
                            <i  class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> More </a>
                        </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
{{ include('partials/_footer.html.twig') }}
    
{% endblock %}
