{% extends 'base.html.twig' %}
{% block title %}New Boards{% endblock %}

{% block body %}
    
{{ include('partials/_nav.html.twig') }}
    <div class="container mt-4">
    <div class="wrapper bg-white">
    <div class="col-md-12">
        <h1 class="text-center">Create a new board</h1>
        {{ include('partials/_form.html.twig') }}
    </div>
    </div>
</div>
        {{ include('partials/_footer.html.twig') }}

{% endblock %}
