{% extends 'base.html.twig' %}

{% block title %} Board: {{board.title}}{% endblock %}

{% block body %}
{{ include('partials/_nav.html.twig') }}
<main role="main">
    <section class="bg-gray200 pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-7">
                    <article class="card">
                        <img src="{{ uploaded_asset(board.image)  }}" alt="" class="card-img-top mb-2 ">
                        {% if is_granted('BOARD_MANAGE', board) %}

                            <p class="float-right"><a href="{{ path('app_boards_edit', {'id': board.id}) }}">Edit</a> |
                            <a href="" onclick = "event.preventDefault();confirm('Voulez vous vraiment supprimer ce tableau'); getElementById('js-form-delete').submit(); ">Delete</a> 
                            </p>  
                            <form id="js-form-delete" action="{{ path('app_boards_delete', {id: board.id}) }}" method="post" style="display:none;">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ board.id) }}"/>
                                <input type="submit" value="Supprimer">
                            </form>
                        {% endif %}
                            <div class="card-body">
                                <p class="card-title display-4">
                                    {{ board.title }} <small> by {{board.user.name}}</small>
                                </p>
                                <p> {{board.description}} </p>
                                {% if board.comments %}
                                {% for comment in comments %}
                                    {% if board.id == comment.board.id %}
                                            <p class="comment-text mt-2">{{comment.user.name}} :  {{comment.description}} </p>
                                    {% endif %}
                                {% endfor %}
                                {% endif %}
                            </div>
                        
                            <div class="col-12 m-2">
                                {{ form_start(commentForm) }}
                                {{ form_widget(commentForm.description, {'attr' : {'placeholder' : 'Add your comment' }})}}
                                <input type="submit" class="btn btn-primary btn-sm shadow-none mt-2">
                                    {{ form_end(commentForm) }}
                                </div>
                                
                    </article>
                </div>
            </div>
        </div>
        
    </section>
</main>
        </div>

{{ include('partials/_footer.html.twig') }}
{% endblock %}
